@import "../../css-config/mixins.scss";

.favourite-section{
    max-width: calc(100% - 20px);
    margin: 3rem;
    @include lg {
        margin: 50px auto;
    }

    .fav-heading{
        width: 100%;
        @include lg{
            padding: 0 40px;
        }

        .favourites-title{
            font-weight: 500;
            text-transform: uppercase;
            padding: 10px 0px;
            margin: auto;
            margin-bottom: 1rem;
            font-size: 24px;
            max-width: 1200px;
            @include md {
                font-size: 34px;
            }
        }
    
        .favourites-hr{
            max-width: 1200px;
            margin: auto;
            margin-bottom: 2rem;
            border-color: #8e2de2;
        }
    }

    .favourites-container{
        width: 100%;
        @include lg{
            padding: 0 40px;
        }
        .favourites-box{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            max-width: 1200px;
        }
    }
}