@import "../../../css-config/mixins.scss";
.product-card {
    cursor: pointer;
    margin: 0 5px 20px;
    @media only screen and (min-width: 500px) {
        margin: 0 15px 20px;
    }
    .thumbnail {
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 0px;
        padding: 25px;
        display: flex;
        align-items: center;
        
        @include xs {
            height: 100px;
            padding: 10px;
        }
        @media only screen and (min-width: 500px) {
            height: 120px;
            padding: 15px;
        }
        @include sm {
            margin-bottom: 10px;
            height: 150px;
        }
        @include md {
            height: 200px;
        }
        img {
            transition: all ease 0.3s;
            display: block;
            width: 100%;
            max-height: 100%;
        }
    }
    .prod-details {
        padding: 5px 10px;
        .name {
            font-size: 12px;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include sm {
                font-size: 14px;
            }
            @include lg {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .price {
            font-size: 13px;
            @include sm {
                font-size: 18px;
            }
            @include lg {
                font-size: 24px;
            }
        }
    }
    &:hover {
        .thumbnail {
            img {
                transform: scale(1.05);
                @media only screen and (min-width: 500px) {
                    transform: scale(1.05);
                    margin-bottom: 0;
                }
            }
        }
    }
}
