
.columns {
    margin: auto;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .columns .container{
    padding: 5px;
  }
  
  @media screen and (max-width: 650px) {
    .columns {
      width: 100%;
      display: block;
    }
  }

  .images{
    width: 100%;
  }
  /* make the card size low */
    .cards {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        border-radius: 5px;
    }
  
  .titles {
    color: grey;
  }
  
  .buttons {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .buttons:hover {
    background-color: #555;
  }